# Pandas Exercises
---

## Part 2 - Filtering and Sorting Data

With this series of exercises, we're going to keep using pandas but now with a focus on cleaning and sorting our data.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from chipotle.tsv and assign it to a variable called chip

In [2]:
chip = pd.read_csv('chipotle.tsv', sep='\t')

### Step 3. Clean up the data using the comments below as a guide

In [7]:
# clean the item_price column and transform it in a float (see part 1)
chip.item_price = chip.item_price.replace('[\$,]', '', regex=True).astype(float)

# delete the duplicates in item_name and quantity
chip_filtered = chip.drop_duplicates(['item_name', 'quantity'])

# select only the products with quantity equals to 1
chip_one_prod = chip_filtered[chip_filtered.quantity == 1]

### Step 4. Find the price of each item

Note: print a dataframe with only two columns: item_name and item_price. Use the comments as a guide.

In [9]:
# select only the item_name and item_price columns
price_per_item = chip_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75
39            Barbacoa Bowl       11.75
738       Veggie Soft Tacos       11.25
186       Veggie Salad Bowl       11.25
62              Veggie Bowl       11.25
57           Veggie Burrito       11.25
250           Chicken Salad       10.98
5              Chicken Bowl       10.98
8          Steak Soft Tacos        9.25
554   Carnitas Crispy Tacos        9.25
237     Carnitas Soft Tacos        9.25
56      Barbacoa Soft Tacos        9.25
92       Steak Crispy Tacos        9.25
664             Steak Salad        8.99
54               Steak Bowl        8.99
3750         Carnitas Salad        8.99

### Step 5. Find the quantity of items in the most expensive order

In [10]:
chip.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 6. Find out how many times a Veggie Salad Bowl was ordered

In [12]:
veggie_salad = chip[chip.item_name == "Veggie Salad Bowl"]
len(veggie_salad)

18

### Step 7. Find out how many times someone ordered more than one canned soda

In [13]:
chip_soda = chip[(chip.item_name == "Canned Soda") & (chip.quantity > 1)]
len(chip_soda)

20

### Step 8. See if there is anything else you may want to know about the dataset and implement it!