### EXERCISE

A reviewer on your article that you submitted to the most prestigious journal in your field, loves your analysis but doesn't like the fact you dropped rows with missing values. You need to use a different technique to deal with those missing values, some kind of interpolation that *fills in* a new value in place of the null values. Hopefully it won't drastically change the interpretation!

1. Identify a technique for deriving a new value 
2. Use a function to fill in the missing values

In [ ]:
# Put your code here

### Solution

* One quick and easy way is to fill in missing values with the mean value of a giving column

In [ ]:
# Find the mean
df["chol"].mean()

In [ ]:
# Fill missing values with a mean (average) value of a given column
# Note the inplace=True parameter - that means that we are overwriting the data
# in the existing dataset
df["chol"].fillna(df["chol"].mean(), inplace=True)
df.isnull().sum()

* No more null values in the `chol` column

* Look ma! No errors!
* Pandas includes a a bunch of methods for doing things to strings.

|  Functions  |. |.  |. |
|-------------|------------------|------------------|------------------|
|``len()``    | ``lower()``      | ``translate()``  | ``islower()``    | 
|``ljust()``  | ``upper()``      | ``startswith()`` | ``isupper()``    | 
|``rjust()``  | ``find()``       | ``endswith()``   | ``isnumeric()``  | 
|``center()`` | ``rfind()``      | ``isalnum()``    | ``isdecimal()``  | 
|``zfill()``  | ``index()``      | ``isalpha()``    | ``split()``      | 
|``strip()``  | ``rindex()``     | ``isdigit()``    | ``rsplit()``     | 
|``rstrip()`` | ``capitalize()`` | ``isspace()``    | ``partition()``  | 
|``lstrip()`` |  ``swapcase()``  |  ``istitle()``   | ``rpartition()`` |

### Exercise

* In the cells below, try three of the string operations listed above on the Pandas Series `monte`
* Remember, you can hit tab to autocomplete and shift-tab to see documentation

In [ ]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])
monte

In [ ]:
# First
monte.str.

In [ ]:
# Second
monte.str.

In [ ]:
# Third
monte.str.